CompileFlags:
  Add:
    - -std=c++17
    - -I3pty/flashinfer/3rdparty/cccl/libcudacxx/include
    - -I3pty/flashinfer/3rdparty/cccl/cub
    - -I3pty/flashinfer/3rdparty/cccl/thrust
    - -I3pty/flashinfer/3rdparty/cccl/cudax/include
    - -I3pty/flashinfer/include
    - -Ibuild
    - --cuda-host-only
